<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jms="http://www.springframework.org/schema/jms"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/jms http://www.springframework.org/schema/jms/spring-jms.xsd">

    <!--配置ActiveMQ的连接工厂-->
    <bean id="activeMQConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
        <property name="brokerURL" value="tcp://localhost:61616"/>
    </bean>

    <!--spring适配的连接工厂-->
    <bean id="connectionFactory" class="org.springframework.jms.connection.SingleConnectionFactory">
        <constructor-arg name="targetConnectionFactory" ref="activeMQConnectionFactory"/>
    </bean>

    <!--目的地：topic-->
    <bean id="topic" class="org.apache.activemq.command.ActiveMQTopic">
        <constructor-arg name="name" value="spring-topic"/>
    </bean>
    <!--JmsTemplate-->
    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="connectionFactory"/>
        <property name="defaultDestination" ref="topic"/>
    </bean>

    <!--监听器-->
    <bean id="listener" class="com.kaishengit.jms.topicListener"/>
    <bean id="listener1" class="com.kaishengit.jms.topicListener1"/>

    <!--监听器容器-->
    <jms:listener-container connection-factory="connectionFactory" acknowledge="client" destination-type="topic">
        <jms:listener destination="spring-topic" ref="listener"/>
        <jms:listener destination="spring-topic" ref="listener1"/>
    </jms:listener-container>
</beans>